.app {
	width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow: hidden;
  padding-top: 2%;
  padding-bottom: 3%;
  background-image: url(../Assets/banner-chars.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;

  display: grid; 
  grid-template-columns: 0.5fr 1.2fr 1.3fr 1fr; 
  grid-template-rows: 0.3fr 2.3fr; 
  align-items: center;
  justify-items: center;
  position: relative;
   
}

.scroll{
  width: 20%;
  height: auto;
  grid-column-start: 1; 
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.title {
  font-family: var(--type-first);
  font-size: 3rem;
  color: #d4c6a9;
  grid-column-start: 2; 
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: 2rem;
  margin-bottom: 30px;
  margin-left: 18%;
  justify-self: start;
  align-self: center;
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

  @-webkit-keyframes tracking-in-expand {
  0% {
  letter-spacing: -0.5em;
  opacity: 0;
  }
  40% {
  opacity: 0.6;
  }
  100% {
  opacity: 1;
  }
  }
  @keyframes tracking-in-expand {
  0% {
  letter-spacing: -0.5em;
  opacity: 0;
  }
  40% {
  opacity: 0.6;
  }
  100% {
  opacity: 1;
  }
  }

.cards{
 
  width: 100%;
  grid-column-start: 2; 
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.pages{
  width: 100vw;
  margin-top: 2rem;
  grid-column-start: 1; 
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.filterPosition{
  width: 800px;
  height: auto;
  overflow: hidden;
  margin-right: 1rem;
  grid-column-start: 3; 
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: space-around;
  
  
}

.border {
  height: 213px;
  width: 150px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  
}

.border:hover{
  border: 1px solid white;
  height: 213px;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  transition: border 1s;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em 1em;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
  width: 160px;
  height: 223px;
  border-radius: 10px;
  box-shadow: 0 70px 63px -60px #000000;
  background-color: #333;
  color: #fff;
  
}

.card:hover{
  background-size: 300px !important;
  background-position: left !important;
  transition: 0.6s !important;
}

.cardBody{
  width: 140px;
  height: 203px;
  word-wrap: break-word;
  overflow: hidden;
}

 .cardBody h1, h2{
   opacity: 0;
   font-family: var(--type-first);
  
 }

 .cardBody:hover h1{
  
  margin: 20px;
  color: white;
	font-size: 1rem;
  opacity: 1;
  transition: opacity 1s;
  word-wrap: break-word;
}

.cardBody:hover h2{
  max-width: 140px;
  margin-left: 20px;
  margin-bottom: 5px;
  color: white;
	font-family: Raleway;
	font-size: 0.6rem;
  opacity: 1;
	transition: opacity 1s;
  word-wrap: break-word;
}

@media (max-width: 930px){
  .app{
    grid-template-columns:  0.2fr 1.3fr;
    grid-template-rows: 0.1fr 0.1fr 1.5fr 0.2fr;
  }

  .title {
    font-family: var(--type-first);
    font-size: 3rem;
    grid-column-start: 2; 
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 2rem;
    margin-left: 2%;
    justify-self: start;
    align-self: center;
  }
  
  .cards{
   
    width: 100%;
    grid-column-start: 2; 
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
  .pages{
    width: 100vw;
    margin-top: 2rem;
    grid-column-start: 1; 
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
  .filterPosition{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-right: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    grid-column-start: 2; 
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
  
  }

  .card {
    width: 120px;
    height: 183px;
      
  }
   
  .cardBody{
    width: 120px;
    height: 183px;
    word-wrap: break-word;
    overflow: hidden;
  }
  
  .scroll{
    width: 30%;
    grid-row-end: 4;
  }
}

@media (max-width: 680px){

  .app{
    height: 1600px;
  }
  

  .title{
    margin-left: 60px;
  }
  
  .filterPosition{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-right: 1rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
    grid-column-start: 2; 
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
  
  }
}

@media (max-width: 325px){
  
  .app{
    height: 2600px;
  }

  .title{
    margin-left: 20px;
  }
}