.home{
    width: 100vw;
    height: 100vh;
    background-image: url(../Assets/banner-dark.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fade-out 2s ease-out both;
}

@keyframes fade-out {
    0% {
      opacity: 1;
      background-image: url(../Assets/banner.jpg);
    }
    100% {
      opacity: 1;
    }
  }
  

.logo{
    width:60%;
    height: 60%;
}

.title{
    font-family: var(--type-first);
    font-weight: 100;
    font-size: 1.6rem;
    color: #d4c6a9;
    
}