.bg{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f1b35;
}

.button{
    width: 25px;
    height: 25px;
    background-color: #1f1b35;
    color: #d4c6a9;
    margin: 0 5px 10px;
    border: none;
    transition: all 0.3s ease;
    overflow: hidden;
}

.button:hover,
.button:focus{
    background-color: #d4c6a9;
    color: #1f1b35;
    cursor: pointer;
}